{% load static %}
<html>
    <head>
        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{% get_static_prefix %}css/main.css">
    </head>

    <body>
        <div class="container">
            {% include "includes/navbar.html" %}

            <header>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="jumbotron">
                            <h1 class="text-center">{% block header_title %}This is the base template{% endblock header_title %}</h1>
                            <p class="text-center">{% block header_text %}{% endblock header_text %}</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="row">
                <div class="col-xs-12">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>